# General alias files
source "$HOME/.myenv/aliases_batcat.sh"
source "$HOME/.myenv/aliases_eza.sh"
source "$HOME/.myenv/aliases_package_update.sh"

# General environment files
source "$HOME/.myenv/env_zoxide.sh"
source "$HOME/.myenv/env_chezmoi.sh"
source "$HOME/.myenv/env_fzf.sh"
source "$HOME/.myenv/env_fzf_key_bindings.zsh"
source "$HOME/.myenv/env_zsh_custom_autoupdate.zsh"
source "$HOME/.myenv/env_zsh_update.zsh"

# Various completions
source "$HOME/.myenv/env_fzf_completion.zsh"
source "$HOME/.myenv/env_tailscale_completion.zsh"
source "$HOME/.myenv/env_uv_completion.zsh"
source "$HOME/.myenv/env_uvx_completion.zsh"
{{ if eq .data.target_env "work" }}
# Work-related alias files
source "$HOME/.myenv/aliases_zephyr.sh"

# Work-related env files
source "$HOME/.myenv/env_python.zsh"
source "$HOME/.myenv/env_zephyr.sh"
{{ end }}