# General alias files
source "$HOME/.myenv/aliases_batcat.sh"
source "$HOME/.myenv/aliases_eza.sh"
source "$HOME/.myenv/aliases_package_update.sh"

# General environment files
source "$HOME/.myenv/env_fzf.sh"

# Various completions
{{ if eq .data.target_env "work" }}
# Work-related alias files
source "$HOME/.myenv/aliases_zephyr.sh"

# Work-related env files
source "$HOME/.myenv/env_python.zsh"
source "$HOME/.myenv/env_zephyr.sh"
{{ end }}